BasedOnStyle: Microsoft
IndentWidth: 4
ColumnLimit: 120
BreakBeforeBraces: Allman
AccessModifierOffset: -4
PointerAlignment: Left
NamespaceIndentation: None
FixNamespaceComments: false
SortIncludes: Never
IncludeBlocks: Preserve
ReflowComments: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
InsertNewlineAtEOF: true
BreakStringLiterals: false
